/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/styles/Home.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.Home_container__XXbpJ {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .Home_header__IZ9BF {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .Home_title__u58B2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .Home_button__X7B1y {
    background-color: #A275BD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .Home_grid__or_55 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    gap: 20px;
  }
  
  .Home_pin__KneSW {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .Home_pin__KneSW:hover {
    transform: scale(1.05);
  }
  
  .Home_image__vuIBO {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .Home_pinTitle__vL8EU {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .Home_likeButton__v83ok {
    background-color: #A275BD;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  .Home_actions__iLWRx {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .Home_uploadForm__kSJFd {
    display: flex;
    gap: 10px;
  }
  
  .Home_uploadForm__kSJFd input[type="text"] {
    padding: 5px;
  }
  
  .Home_uploadForm__kSJFd input[type="file"] {
    border: none;
  }
  
  .Home_pinContainer__fMkyd {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
    gap: 15px;
  }
  
