@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  background-image: url('/images/1.png');
  background-size: 100% auto;
}
.container {
  font-family: 'Playfair Display', serif; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  min-height: 100vh;
  background-image: url('/images/1.png');
  background-size: 100% auto;
  margin: 0;

  
}


.title {
  font-family: 'Playfair Display', serif; 
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ce9a3a;
  text-align: center;
}

/* Estilos para los inputs */
.input {
  font-family: 'Playfair Display', serif; /* Aplicamos la fuente a los inputs */
  font-size: 16px;
  padding: 12px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s;
}

.input:focus {
  border-color: #A275BD;
}

/* Estilos para los botones */
.button {
  font-family: 'Playfair Display', serif; /* Aplicamos la fuente a los botones */
  font-size: 18px;
  padding: 12px;
  background-color: #A275BD;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 9px;
}

.button:hover {
  background-color: #8c57a0; /* Cambiar a un tono más oscuro al hacer hover */
}

/* Estilos para los contenedores de los pines */
.pinContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.pin {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  width: 200px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.pinTitle {
  font-family: 'Playfair Display', serif; /* Asegura que el título también tenga la fuente */
  font-size: 18px;
  margin: 10px 0;
}

/* Estilo adicional para los pines con un fondo */
.pin {
  background-image: url('/frontend/src/app/public/images/background.jpg');
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.pin:hover {
  transform: scale(1.05); /* Escalar el pin al hacer hover */
}
