.container {
    background-image: url('/images/background.jpg');
    background-size: 93% cover;
    background-position: center;
    display: flex;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
  
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .textarea {
    width: 10%;
    height: 80px;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
  }
  
  .button {
    background-color: #A275BD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .pin {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
  }
  
  .pin:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  
  .image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .pinTitle {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .likeButton {
    background-color: #A275BD;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  .actions {
    width: 250px; /* Ancho fijo para la barra lateral */
    background-color: #ffffff; /* Fondo blanco para la barra */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    position: sticky;
    top: 0; /* Fija la barra al hacer scroll */
    height: 100vh;

  }
  
  .uploadForm {
    display: flex;
    gap: 10px;
  }
  
  .uploadForm input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .uploadForm input[type="file"] {
    border: none;
  }
  
  .pinContainer {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-left: 20px;
  }
  