
.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}


.pinContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}




.image {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 16px;
}


.pinTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.pinDescription {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-bottom: 8px;
}


.pinLikes {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}


.button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(228, 205, 250); /* Fondo blanco cuando no tiene like */
  color: #333; /* Texto en gris oscuro */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button.liked {
  background-color: #A275BD; /* Fondo rojo cuando tiene like */
  color: white; /* Texto en blanco cuando tiene like */
}
