
.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}


.pinContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}




.image {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 16px;
}


.pinTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.pinDescription {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-bottom: 8px;
}


.pinLikes {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}


.button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color:  #A275BD; /* Fondo blanco cuando no tiene like */
  color: #ffffff; /* Texto en gris oscuro */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button.liked {
  background-color: #A275BD; /* Fondo rojo cuando tiene like */
  color: white; /* Texto en blanco cuando tiene like */
}


.commentsList {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.comment {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.commentInput {
  display: flex;
  flex-direction: column;
}

.textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  resize: vertical;
}

.button:hover {
  background-color: #6e45a0;
}
.chatContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.comments {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}

.comment {
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}

.myComment {
  background-color: #d1e7dd;
  align-self: flex-end;
}

.otherComment {
  background-color: #f1f1f1;
  align-self: flex-start;
}

.commentInput {
  display: flex;
  gap: 10px;
}

.commentInput input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.commentInput button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
