.pin {
  width: 320px;
  /* Un tamaño fijo para cada tarjeta */
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra para el efecto de tarjeta */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.pin h3 {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.pin p {
  font-size: 14px;
  text-align: center;
}

.pin-image {
  max-height: 180px; 
  object-fit: cover;
  /* Esto asegura que la imagen cubra el área sin distorsionarse */
  border-radius: 8px;
  /* Bordes redondeados si lo deseas */
}

.boards-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

/* Estilo para cada sección de categoría */
.category-section {
  margin-bottom: 40px;
}

/* Estilo del título de cada categoría */
.category-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
/* Estilo para el contenedor de los pins */
.pin-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  padding: 0 10px;
}

/* Estilo para cada pin individual */
.pin {
  
  margin: 10px 0; 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;  /* Margen inferior entre los pins */
}

/* Hover effect para los pins */
.pin:hover {
  transform: translateY(-10px);
}

/* Estilo para la imagen del pin */
.pin-image {
  width: 100%;
  height: auto; /* Permite la imagen a ajustarse según el tamaño del contenedor */
  max-height: 200px; /* Limita la altura máxima de la imagen */
  object-fit: cover; /* Asegura que la imagen no se distorsione */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Estilo para el título del pin */
.pin-title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  color: #333;
}

/* Estilo para la descripción del pin */
.pin-description {
  font-size: 12px;
  margin: 0 10px 15px;
  color: #666;
  line-height: 1.4;
}
.pinContainer {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.pinImage {
  max-height: 150px; /* Ajustar aún más para pantallas muy pequeñas */
}

.pinTitle {
  font-size: 16px; /* Reducir más el tamaño del título */
}

.pinDescription {
  font-size: 14px;
}


.icono-volver {
  width: 50px;
  height: 50px;
  height: auto; /* Mantiene las proporciones */
  object-fit: contain; /* Ajusta cómo se escala la imagen */
}

.div {
  background-image: url('/images/background.jpg');
  background-size: 102% auto;
}
